<mat-toolbar color="primary">
	<h1>Simple list</h1>
	<div fxFlex style="margin:auto;"></div>
	<button mat-icon-button (click)="onRemoveAll()"><mat-icon>delete</mat-icon></button>
	<button mat-icon-button (click)="onAddItem()"><mat-icon>add</mat-icon></button>
</mat-toolbar>
<mat-nav-list *ngIf="data.length > 0">
	<mat-list-item *ngFor="let i of data" [ngClass]="{'selected': isSelected(i)}" (click)="onSelected(i)">
		<div mat-line>
			{{ i.name }}
		</div>
		<p mat-line>
			{{ i.details }}
		</p>
		<button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" (click)="menuTrigger.openMenu()">
        <mat-icon>more_vert</mat-icon>
     </button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item (click)="onRemoveItem(i)">Remove</button>
			<button mat-menu-item>View Details</button>
		</mat-menu>
	</mat-list-item>
</mat-nav-list>
<div *ngIf="data.length === 0" style="margin: 15px;">
  <h1>No Items found </h1>
	<button mat-raised-button (click)="onAddItem()">
    Add An Item
  </button>
</div>